/* @import url("https://fonts.googleapis.com/css?family=Montserrat&Nanum+Pen+Script&Noto+Sans+JP&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Langar|Roboto|Noto+Sans+ㅏKR&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Montserrat|Nanum+Pen+Script|Noto+Sans+JP&display=swap"); */
/* <link href="https://fonts.googleapis.com/css?family=Montserrat|Nanum+Pen+Script|Noto+Sans+JP&display=swap" rel="stylesheet"> */

/* @font-face {
  font-family: myfontfamily;
  src: local("Langar");
}
@font-face {
  font-family: myfontfamily;
  src: local("Roboto");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: myfontfamily;
  src: local("Noto Sans KR");
  unicode-range: U+0030-0039;
}

p {
  font-family: myfontfamily;
  font-size: 30px;
} */

/* @font-face {
  font-family: myfontfamily;
  src: local("Nanum Pen Script");
  unicode-range: U+AC00-D7AF;
}

@font-face {
  font-family: myfontfamily;
  src: local("Montserrat");
}

@font-face {
  font-family: myfontfamily;
  src: local("Noto Sans JP");
  unicode-range: U+4E00 –9FBF, U+3040 –309F, U+30A0 –30FF;
} */
@font-face {
  font-family: myfontfamily;
  src: local("Langar");
  unicode-range: U+AC00-D7AF;
}

@font-face {
  font-family: myfontfamily;
  src: local("Roboto");
}

@font-face {
  font-family: myfontfamily;
  src: local("Noto Sans KR");
  unicode-range: U+4E00 –9FBF, U+3040 –309F, U+30A0 –30FF;
}

p {
  font-family: myfontfamily;
  font-size: 30px;
}
